body {
  margin: 0;
  text-align: center;
  font-family: 'Signika', sans-serif;
  background-position: center;
}

/****** fonts ******
font-family: 'Kaushan Script', cursive;
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Signika', sans-serif;
********************/
h1 {
  margin-top: 0;
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
}

h2 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 50px;
  color: #c06c84;
}

h3 {
  color: yellow;
  font-family: 'Merriweather Sans', sans-serif;
}

p {
  color: white;
  font-family: 'Signika', sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: yellow;
  font-size: 20px;
}

a:hover {
  color: #51c2d5;
}

/**** class ****/
.profile {
  background-image: url("../images/7046.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #57a99a;
}

.skills {
  margin: 100 auto 200 auto;
  background-image: url("../images/design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ecf4f3;
}

.skill-row {
  margin: auto;
  width: 75%;
}

.skill-row2 {
  margin: 100px auto 200px auto;
  width: 75%;
}

.programming-icon {
  float: right;
  margin-left: 40px
}

.media {
  float: left;
  margin-right: 40px;
}

.f {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: left;
  font-size: 30px;
}

.f1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 30px;
  text-align: left;

}

.CONTACT {
  background-image: url("../images/social.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.contact-me {
  padding-right: 800px;
  margin-left: 20px;
}

.last {
  padding-right: 800px;
}

/***.top-cloud {
  position: relative;
  top: 70px;
  left: 250px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
}****/
.Get {
  color: yellow;
}

.reach {
  color: #e8eae6;
}
.btn {
   background: #FF1E13;
   background-image: -webkit-linear-gradient(top, #FF1E13, #121106);
   background-image: -moz-linear-gradient(top, #FF1E13, #121106);
   background-image: -ms-linear-gradient(top, #FF1E13, #121106);
   background-image: -o-linear-gradient(top, #FF1E13, #121106);
   background-image: -webkit-gradient(to bottom, #FF1E13, #121106);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Nanum Pen Script', cursive;
   font-size: 44px;
   font-weight: 700;
   padding: 26px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #DD380D 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #000000 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}


.end {
  margin-bottom: 0;
}
