body {
  margin: 0;
  text-align: center;
  font-family: 'Signika', sans-serif;
  background-position: center;
}

/****** fonts ******
font-family: 'Kaushan Script', cursive;
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Signika', sans-serif;
********************/
h1 {
  margin-top: 0;
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
}

h2 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 50px;
  color: #c06c84;
}

h3 {
  color: yellow;
  font-family: 'Merriweather Sans', sans-serif;
}

p {
  color: white;
  font-family: 'Signika', sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: yellow;
  font-size: 20px;
}

a:hover {
  color: #51c2d5;
}

/**** class ****/
.profile {
  background-image: url("../images/7046.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #57a99a;
}

.skills {
  margin: 100 auto 200 auto;
  background-image: url("../images/design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ecf4f3;
}

.skill-row {
  margin: auto;
  width: 75%;
}

.skill-row2 {
  margin: 100px auto 200px auto;
  width: 75%;
}

.programming-icon {
  float: right;
  margin-left: 40px
}

.media {
  float: left;
  margin-right: 40px;
}

.f {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: left;
  font-size: 30px;
}

.f1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 30px;
  text-align: left;

}

.CONTACT {
  background-image: url("../images/social.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.contact-me {
  padding-right: 800px;
  margin-left: 20px;
}

.last {
  padding-right: 800px;
}

/***.top-cloud {
  position: relative;
  top: 70px;
  left: 250px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
}****/
.Get {
  color: yellow;
}

.reach {
  color: #e8eae6;
}

.btn {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 40px;
  color: #51c2d5;
}

.end {
  margin-bottom: 0;
}
